body{
margin:0;
font-family:Segoe UI;
background:#f4f6f9;
}

.layout{
display:flex;
height:100vh;
}

.sidebar{
width:250px;
background:#7A1E2C;
color:white;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:10px 0;
cursor:pointer;
}

.main{
flex:1;
padding:30px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
}

table{
width:100%;
background:white;
border-collapse:collapse;
}

th, td{
padding:12px;
border-bottom:1px solid #ddd;
text-align:left;
}
